#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"

CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = Apple Distribution
CODE_SIGN_IDENTITY[sdk=iphoneos*] = Apple Distribution
DEVELOPMENT_TEAM = TAVJ883DRP
PROVISIONING_PROFILE_SPECIFIER = com.ool.pedro AdHoc
